/* colour palette 

#e9eaeb  used for  text 

#0e0e0e background

*/

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background-color: #0e0e0e;
}

.text-lg {
  font-size: 2.1rem;
  font-weight: 400;
  color: #e9eaeb;
}

.nav-header {
  letter-spacing: -0.1rem;
  display: inline-block;
  margin-left: 1rem;
  text-align: center;
}

.container {
  margin: 1.5rem 10rem;
}

.header-logo {
  height: 2.2rem;
  width: 2.2rem;
  display: inline-block;
  margin: auto;
}

.header-part1 {
  display: inline-block;
}

.header-part2 {
  display: inline-block;
}

.header-link {
  font-size: 1.7rem;
  margin: auto 1.2rem;
  text-decoration: none;
  color: #9ba3b4;
}

.header-link:hover {
  color: #e9eaeb;
}

.first-header-link {
  margin-left: 4rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.header-back button {
  border-radius: 10%;
}

.header-back input {
  padding: 0.5rem 0.5rem;
  border-radius: 10%;
}

.header-btn {
  color: #fff;
  background-color: #0078d4;
  padding: 1rem 1rem;
}
